.about {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  grid-column: 2/-1;
  grid-row: 5;
}

.about-subsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  overflow-x: hidden;
}

.description-figure {
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* gap: 2rem; */
  width: 100vw;
  padding: 2rem;
  /* background-color: #212529; */
  background-color: #343a40;
  border: 9px solid #ff922b;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  /* border-radius: 19px; */
}
.about-me-title {
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 2rem;
}
.section-description {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 700;
  color: #ced4da;
  /* color: #fff; */
}
.figure-img {
  border-radius: 10%;
  /* width: 320px;
  height: 320px; */
}

/* MEDIA QUAERIES */

@media (max-width: 37.5em) {
  .description-figure {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .figure-img {
    /* margin-bottom: 2rem; */
    grid-row: 3;
  }
} ;
