.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  grid-column: 2/-1;
  grid-row: 6;
  /* height: 90vh; */
}
.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.3rem;
  /* border: 5px solid black; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 4rem;

  background-color: #343a40;
  /* border-radius: 20px; */
  border: 4px solid #ff922b;
}

.name-phone-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;

  margin-right: 1rem;
  width: 100%;
}

.input-name {
}
.input-phone {
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: sp; */
  font-size: 2rem;
  font-weight: 500;
  /* color: #212529; */
  color: #fff4e6;
  /* gap: 35rem; */
}

.input-item {
  /* padding: 0.8rem 4rem; */
  /* width: 20rem; */
  /* height: 2.5rem; */
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 1px;
  /* background-color: #f8f9fa; */
  margin-bottom: 2rem;
}

.input-email {
  width: 100%;
}

.input-msg {
  width: 100%;
  /* height: 5rem; */
  padding: 3rem;

  /* padding: 1.5rem; */
}

.input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #212529; */
  background-color: #fff4e6;
  color: #212529;
  border-radius: 19px;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

.input-btn:hover {
  transform: translate(0, -3px);
  background-color: rgba(237, 122, 21, 0.802);

  color: #212529;
}

/* Thank you window */

.thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
  color: #212529;
  /* color: #fff4e6; */
  gap: 3rem;
  width: 848px;
  height: 600px;
  /* border: 5px solid black; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 5rem;
}

.thanks-msg {
  /* background-color: #fff4e6; */
  padding: 2rem;
  border-radius: 9px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.social-networks {
}

.social-network-list {
  list-style: none;
  display: flex;

  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.social-network-item {
}

.icon-contact {
  font-size: 4rem;
  /* transform: rotate(90deg); */
}

.icon-contact:hover {
  color: #fff4e6;
}

/* MEDIA QUAERIES */

@media (max-width: 1024px) {
  .form-container {
    margin-bottom: 1.5rem;

    justify-content: center;
  }

  .name-phone-container {
  }

  .input-email,
  .input-msg {
    width: 100%;
  }

  .input-item {
    padding: 1.5rem;
  }

  .input-name,
  .input-phone {
  }
}

@media (max-width: 912px) {
  html {
    font-size: 75%;
  }

  .input-msg,
  .input-email {
    /* width: 100%; */
  }
  .input-msg {
    /* height: 4rem; */
  }

  /* .name-phone-container {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  } */

  /* .height-200vh {
    height: 200vh;
  } */
}

@media (max-width: 50em) {
  .input-btn {
    /* padding: 1.5rem 2.5rem; */
    height: 4rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 67%;
  }

  .title-paragraph {
    /* align-self: center; */
    /* font-size: 3rem; */
  }

  .form-container {
    /* flex-direction: column; */
    /* gap: 2.3rem; */
    /* justify-content: flex-start; */
    /* align-items: center;
    padding: 0;
    margin: 0; */

    /* border-radius: 0; */
    /* width: 80% !important; */
    /* height: 100% !important; */
  }

  .input-item {
    /* height: 4rem;
    width: 60vw;
    padding: 1rem;
    font-size: 2rem; */
  }

  .input-msg {
    /* padding: 3rem; */
  }

  .section-title-contact {
    /* margin: 2rem 0; */
  }

  .input-btn {
    /* padding: 1.5rem 2rem; */
    /* margin-top: 3rem; */
    /* transition: 0.2s; */

    /* font-weight: 700; */
    /* width: 60vw; */
    /* font-size: 1.5rem; */
  }
}

@media (max-width: 560px) {
  .name-phone-container {
    flex-direction: column;
  }

  .form-container {
    /* padding: 2rem; */
    width: 100vw;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 50%;
  }

  .form-container {
    /* flex-direction: column; */
    /* gap: 2.3rem; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* padding: 0;
    margin: 0; */

    /* width: 90vw !important; */
  }

  .input-item {
    /* height: 6rem; */
    /* width: 40rem; */
  }

  .input-wrapper {
    /* font-size: 2.5rem; */
  }

  .input-btn {
    /* padding: 2rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    width: 40rem; */
  }
}
