.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ff922b;
  height: 100vh;
  /* max-width: 100vw; */
  align-self: start;
  justify-self: start;
  grid-column: 1;
  grid-row: 1/-1;
  /* column-gap: 0; */

  /* width: 1vw; */
  /* overflow-y: hidden; */
}

.nav-mobile-wrapper {
  /* transition: all 0.5s ease-in;
  transform: translateX(100%); */

  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff922b;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 4rem;
}

.nav-items--mobile {
  margin-top: 4rem;
}

.nav-items {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  align-items: center;
  margin-bottom: 4rem;
}

.nav-item {
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transform: rotate(-90deg);
  margin-bottom: 2rem;
}
.nav-item:last-child {
  margin: 0rem;
}
.nav-item--mobile {
  transform: rotate(0deg);
  list-style: none;
  margin-bottom: 6rem !important;
}

.nav-item--social-mobile {
  margin-right: 2rem;
}
.nav-item--social-mobile:last-child {
  margin-right: 0rem;
}

.nav-item:hover {
  /* text-decoration: underline; */
  /* font-weight: 500; */
}
.nav-item:active {
  /* text-decoration: underline; */
}
.nav-item:focus {
}
.nav-item:visited {
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #212529;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
  color: #fff4e6;
  /* font-weight: 500; */
}

.nav-link--mobile {
  font-size: 3rem;
}

.icon {
  font-size: 2.5rem;
  transform: rotate(90deg);
}

.icon-nav--mobile {
  font-size: 6rem !important;
}

.icon:hover {
  color: #fff4e6;
}

.icon-div {
  display: none;
  position: absolute;
  top: 1rem;
  right: 3rem;
  z-index: 999;
  overflow: hidden;
  /* width: 100vw; */
}

.icon-nav {
  width: 4rem;
  height: 4rem;
  color: #ff922b;
}

.social-media-links {
  list-style: none;
  display: flex;
  flex-direction: column;

  /* gap: 2rem; */
  justify-content: center;
  align-items: center;
}

.social-media-links--mobile {
  flex-direction: row;
}

.sticky {
  position: fixed;
  /* position: -webkit-sticky; */
  top: 0rem;
  /* right: 3rem; */
  height: 100vh;
  /* width: 6.7vw; */
}

.sticky--mobile-nav {
  position: fixed;
  /* position: -webkit-sticky; */
  top: 1rem;
  right: 3rem;
  height: 100vh;
  /* width: 6.7vw; */
}

/* MEDIA QUARIES */

@media (max-width: 1024px) {
  .nav-item {
    font-size: 0.7rem;
    margin-bottom: 0.8rem;
  }
  .nav-item:last-child {
    font-size: 0.7rem;
    margin-bottom: 0rem;
  }

  .icon {
    font-size: 2rem;
  }
}

@media (max-width: 50em) {
  .sticky,
  .nav-container {
    display: none;
  }

  .icon-div {
    display: flex;
  }
}
