.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* gap: 2rem; */
  /* width: 7vw; */
  background-color: #ff922b;
  /* height: 100vh; */
  /* max-width: 100vw; */

  grid-column: 1;
  grid-row: 1/-1;
  /* overflow: scroll; */
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* justify-content: center; */
  gap: 6rem;

  list-style: none;
  align-items: center;
  width: 10vw;
}

.nav-item {
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.nav-item:hover {
  /* text-decoration: underline; */
  font-weight: 700;
}
.nav-item:active {
  /* text-decoration: underline; */
}
.nav-item:focus {
}
.nav-item:visited {
}

.nav-link {
  text-decoration: none;
  color: #212529;
}

.nav-link:hover {
  color: #fff4e6;
}

.icon {
  font-size: 2.5rem;
  transform: rotate(90deg);
}

.icon:hover {
  color: #fff4e6;
}

.icon-div {
  display: none;
}

.icon-nav {
  width: 4rem;
  height: 4rem;
}

.social-media-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  /* width: 12vw; */
}

/* MEDIA QUARIES */

@media (max-width: 1168px) {
  html {
    font-size: 87%;
  }

  .nav-items {
    gap: 5rem;
  }
}

@media (max-width: 912px) {
  html {
    font-size: 75%;
  }

  .nav-container {
    padding: 2rem;
    justify-content: flex-start;
    gap: 15rem;
  }

  .social-media-links {
    /* margin-bottom: 20rem; */
  }

  .nav-items {
    /* gap: 5rem; */
    gap: 5rem;
  }

  .nav-item {
    /* font-size: 1.5rem; */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 67%;
  }

  .main-wrapper {
    position: relative;
  }

  .nav-container {
    display: none;
  }

  .icon-div {
    display: inline-block;
    justify-self: end;
    z-index: 9999;
    padding: 2rem;
    position: absolute;
  }

  .icon-nav {
    grid-column: 1/-1;
    grid-row: 1;
    /* color: #212529; */
  }

  .timur {
    grid-column: 1;
    grid-row: 2;
  }
  .work {
    grid-column: 1;
    grid-row: 3;
  }
  .my-stack {
    grid-column: 1;
    grid-row: 4;
  }
  .about {
    grid-column: 1;
    grid-row: 5;
  }
  .contact {
    grid-column: 1;
    grid-row: 6;
  }
  .div-footer {
    grid-column: 1;
    grid-row: 7;
  }

  .nav-items {
    /* justify-content: space-around; */
    justify-content: center;
    gap: 0rem;

    align-items: center;
  }

  .nav-item {
    font-size: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    transform: rotate(0deg);
  }

  .social-media-links {
    flex-direction: row;
    gap: 4rem;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }

  .icon {
    font-size: 4rem;
    transform: rotate(0deg);
  }

  .nav-link {
    text-decoration: none;
    color: #212529;
  }

  .nav-link:hover,
  .icon:hover {
    color: #ff922b;
  }

  .nav-mobile-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 100vw;
    height: 30vh;
    justify-content: flex-start;
    align-items: center;
  }
}

/* MOBILE */

.nav-items-mobile {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100vw;
  height: 80vh;
  background-color: #fff4e6;

  font-weight: 500;
}
