.timur {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2/-1;
  grid-row: 1;
  /* position: relative; */
  /* align-self: center;
  justify-self: center; */
}

.timur-title {
  margin-top: 4rem;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  line-height: 1;

  /* letter-spacing: 0px; */
}

.shadowed-text {
  font-size: 4rem;
  font-weight: 700;
  color: #212529;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff4e6;
}

.see-my-work-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 25% auto;
  /* margin-top: 17rem; */
  /* margin-bottom: 80vh; */
}

.see-my-work-img {
}

.btn-work:hover {
  background-color: #212529;
  color: #fff4e6;
}

@media (max-width: 50em) {
  .timur {
    grid-template-columns: 1fr;
  }

  .timur .left-side {
    grid-row: 1;
    width: 100vw;
    padding: 4rem;
  }
  .timur .right-side {
    grid-row: 2;
    width: 100vw;
    height: 50vh;
  }

  .see-my-work-container {
    margin: 5% auto;
    /* margin-top: 17rem; */
    /* margin-bottom: 80vh; */
  }
}
